@use '../../sass/mixins' as *;

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 26.4rem);    
    justify-items: center;
    justify-content: center;
    gap: 7.4rem;

    &__inputs {
        display: flex;
        justify-content: space-between;
        margin: 4.8rem 0;

        @include respond(phone-lg) {
            flex-direction: column;
            gap: 4rem;
        }
    }

    &__form {
        position: relative;
    }

    &__input-label {
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        width: 7rem;
        height: 100%;
        display: block;
        display: flex;
        align-items: center;
        
        svg {
            margin-left: 3.2rem;
            fill: var(--color-grey);
        }
    }

    &__input {
        width: 48rem;
        height: 5.6rem;
        font-style: normal;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 2.0rem;
        padding-left: 7.4rem;    
        padding-right: 1rem;
        border: none;
        border-bottom: 1px solid rgba(66, 24, 24, 0.2); 
        transition: var(--default-transition);
        

        @include respond(phone-lg) {
            width: 100%;
        }
        
        
        &:focus {
            outline: 1px solid lightgray;
            box-shadow: 6px 6px 25px rgba(0,0,0,0.13);      
        }

        &::placeholder {
            color: var(--color-grey)
        }             
    }

    &__input.dark-theme {
        background-color: var(--color-background-light-grey);
        color: var(--color-white);   
        
        & + .cards__input-label {
            svg {
               fill: var(--color-white); 
            }            
        }
    }

    &__input.dark-theme::placeholder {
        color: var(--color-white);
    }

    &__input.error {
        outline: 2px solid var(--color-danger);
        color: var(--color-danger);

        & + .cards__input-label {
            svg {
               fill: var(--color-danger); 
            }            
        }
    }

    &__region-select {
        position: relative;
        font-size: 1.4rem;
        line-height: 2rem;
        background-color: var(--color-white);
        transition: var(--theme-transition);
        &.dark-theme {
            background-color: var(--color-background-light-grey);
            color: var(--color-white);

            .cards__list-item {
                &:hover {
                    background-color: var(--color-background-dark-grey);
                }
            }

            .cards__region-btn {
                color: var(--color-white);
                background-color: var(--color-background-light-grey);
            }
        }

        @include respond(phone-lg) {
            width: fit-content;
        }        
    }  

    &__region-btn {
        font-family: var(--font-main);
        font-size: 1.4rem;
        color: var(--color-black);
        width: 20rem;
        height: 5.6rem;
        background-color: var(--color-white);
        border: none;
        cursor: pointer;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
        transition: var(--theme-transition);
    }

    &__dropdown {
        width: 20rem;
        background-color: inherit;
        position: absolute;
        top: 5.8rem;
        z-index: 2;
        cursor: default;
        padding: 1.6rem 0;
        border-radius: 5px;
        box-shadow: 2px 2px 30px 4px rgba(0, 0, 0, 0.1);        
    }

    &__list-item {
        transition: var(--default-transition);
        padding: 0.4rem 2.4rem;
        &:hover {
            background-color: lightblue;
            font-weight: bold;
        }
    }

    &__btn-more {
        cursor: pointer;
        font-size: 2rem;
        font-weight: 600;
        background-color: transparent;
        padding: 1rem 4rem;
        margin: 10rem auto 0;
        display: block;
        color: rgb(63, 67, 105);
        border: var(--border);
        border-radius: 5px;
        box-shadow: 4px 4px 8px -3px rgba(0,0,0,0.25);
        transition: var(--default-transition);

        &:hover {
            box-shadow: 4px 4px 15px rgba(0,0,0,0.25);
            transform: translateY(-3px);
        }

        &:active {
            transform: translateY(-1px);
        }

        &.dark-theme {
            color: var(--color-white);
            background-color: var(--color-background-light-grey);      
            box-shadow: 4px 4px 8px -3px rgba(255,255,255,0.25);

            &:hover {
                box-shadow: 4px 4px 15px rgba(255,255,255,0.25);
            }

        }
    }

    &__btn-close {
        width: 4.8rem;
        height: 4.8rem;
        box-shadow: 2px 2px 8px -3px rgba(0,0,0,0.25);
        border: var(--border);
        cursor: pointer;
        border-radius: 5px;
        background-color: var(--color-white);
        margin: auto 0;
        margin-right: auto;
        margin-left: 3rem;

        svg {
            fill: var(--color-background-light-grey)
        }

        @include respond(phone-lg) {
            margin-left: 0;
        }
    }
}

.main-cards {
    position: relative;
}

.arrow-up {
    position: fixed;
    width: 7rem;
    height: 7rem;
    bottom: 3vh;
    right: 7vw;
    border: var(--border);
    border-radius: 100px;
    padding: 1.6rem;
    background-color: var(--color-white);
    cursor: pointer;    
    box-shadow: rgba(66, 24, 24, 0.2) 3px 3px 15px;
    transition: var(--default-transition);

    &:hover {
        box-shadow: rgba(66, 24, 24, 0.25) 3px 3px 30px;
    }      
}