@use '../../sass/mixins' as *;

.card {
    width: 26.4rem;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 3px 4px 10px rgba($color: #000000, $alpha: 0.3);
    transition: all 0.3s ease;

    &__flag-container {
        width: 26.4rem;
        height: 16rem;
        overflow: hidden;
        display: flex;
        justify-content: stretch;
        position: relative;
        background-color: inherit;
        transform: none !important;
        opacity: 1 !important;
        transform-origin: top left !important;

        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 85px;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.2);
            z-index: 10;
            transform: skew(-5deg) translateX(-110px);
            filter: blur(45px);
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            display: block;
            width: 340px;
            height: 100px;
            background-color: rgba(255, 255, 255, 0.25);
            z-index: 10;
            transform: rotate(-15deg) translateY(240px) translateX(-150px);
            filter: blur(65px);
        }
    }

    &__img {
        width: 26.4rem;
        height: 16rem;
        display: block;
        object-fit: cover;
    }

    &__content {
        padding: 0 2.4rem 4.6rem;
    }

    &__info {
        font-style: normal;
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 1.6rem;

        span {
            font-weight: 600;
        }
    }

    &:hover {
        box-shadow: 7px 7px 15px rgba($color: #000000, $alpha: 0.3);
        transform: translateY(-5px);
    }

    &:hover &__flag-container::after {
        transform: translateX(300px) skew(-5deg);       
        animation: after 7s ease infinite ;          
    }

    &:hover &__flag-container::before {
        transform: translateY(-300px) rotate(-75deg);       
        animation: before 6s ease infinite 0.4s;                   
    }
}

.card.dark-theme {
    background-color: var(--color-background-light-grey);
    color: var(--color-white);
    box-shadow: 3px 4px 10px rgba($color: #fff, $alpha: 0.3);

    &:hover {
        box-shadow: 7px 7px 15px rgba($color: #fff, $alpha: 0.3);
    }
}

@keyframes after {
    0% {
        transform: skew(-5deg) translateX(-100px);     
    }

    25% {
        transform: skew(0deg) translateX(300px);   
    }

    26% {
        transform: skew(0deg) translateX(300px);   
    }

    75% {
        transform: skew(5deg) translateX(-90px);   
    }

    76% {
        transform: skew(0deg) translateX(-90px);   
    }

    100% {
        transform: skew(-15deg) translateX(300px);   
    }    
}

@keyframes before {
    0% {        
        transform: rotate(-15deg) translateY(240px) translateX(-150px);
    }

    35% {
        transform: translateY(-200px) rotate(-75deg);  
    }
    36% {

        transform: translateY(-200px) rotate(25deg);  
    }

    100% {
        transform: rotate(-15deg) translateY(240px) translateX(-150px);
    }
}
