@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800;900&display=swap');


:root {
  --font-main: 'Nunito Sans', sans-serif;
  --color-black: #111517;
  --color-grey: #848484;
  --color-background-light-grey: #2B3844;
  --color-background-dark-grey: #202C36;
  --color-white: #fff;
  --theme-transition:  all .4s ease;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    scroll-behavior: smooth; 
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--font-main);
    color: var(--color-black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}
